<ol class="breadcrumb">
  <li class="breadcrumb-item success" aria-current="page">
    Insurance Products
  </li>
</ol>

<div style="text-align: right">
  <button
    mat-button
    class="add-insurance-product-button"
    (click)="openPostModal(productContent)"
  >
    <mat-icon>add</mat-icon>
    Add Product
  </button>
</div>

<ng-template #productContent let-modal>
  <div class="modal-header">
    <h2 class="modal-title" id="modal-basic-title">Add Insurance Product</h2>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>

  <form #productsAddForm="ngForm" (ngSubmit)="onAddProduct(productsAddForm)">
    <div class="modal-body">
      <div class="mb-3">
        <label for="productName">Product Name</label>
        <input
          id="productName"
          class="form-control"
          type="text"
          placeholder="Product Name"
          name="productName"
          ngModel
          required
        />

        <div
          *ngIf="
            productsAddForm.submitted &&
            !productsAddForm.controls['productName'].valid
          "
          class="text-danger"
        >
          <p>Product Name is required.</p>
        </div>

        <label for="productType">Product Type</label>

        <input
          id="productType"
          type="text"
          class="form-control"
          placeholder="Product Type"
          name="productType"
          ngModel
          required
        />
        <div
          *ngIf="
            productsAddForm.submitted &&
            !productsAddForm.controls['productType'].valid
          "
          class="text-danger"
        >
          <p>Product Type is required.</p>
        </div>

        <label for="price">Price</label>

        <input
          id="price"
          type="number"
          class="form-control"
          placeholder="Price"
          name="price"
          ngModel
          required
        />
        <div
          *ngIf="
            productsAddForm.submitted &&
            !productsAddForm.controls['price'].valid
          "
          class="text-danger"
        >
          <p>Price is required.</p>
        </div>

        <label for="description">Product Description</label>
        <div class="input-group">
          <textarea
            class="form-control"
            type="text"
            id="description"
            placeholder="Product Description"
            name="description"
            rows="3"
            ngModel
          ></textarea>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button
        type="submit"
        class="btn submit-button"
        (click)="productsAddForm.valid ? modal.close('Save click') : null"
      >
        Add Product
      </button>
    </div>
  </form>
</ng-template>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Product</th>
      <th scope="col">Product Type</th>
      <th scope="col">Price</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody *ngFor="let product of products; let number = index">
    <tr>
      <th scope="row">
        {{ number + 1 }}
      </th>
      <td>
        {{ product.productName }}
      </td>
      <td>
        {{ product.productType }}
      </td>
      <td>
        {{ product.price }}
      </td>
      <td>
        <button
          mat-button
          class="edit-button"
          color="primary"
          *ngIf="product.id"
          (click)="openEditModal(content, product.id)"
        >
          <mat-icon>edit</mat-icon>
        </button>
      </td>
      <td>
        <button
          mat-button
          class="delete-button"
          color="warn"
          *ngIf="product.id"
          (click)="onDeleteProduct(product.id)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Update Product</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <form
    #productEditForm="ngForm"
    *ngIf="productData.id"
    (ngSubmit)="onUpdateProduct(productData.id, productEditForm)"
  >
    <div class="modal-body">
      <div class="mb-3">
        <label for="productName">Product Name</label>
        <input
          id="productName"
          class="form-control"
          placeholder="Product Name"
          name="productName"
          [(ngModel)]="productData.productName"
          required
        />
        <div
          *ngIf="
            productEditForm.submitted &&
            !productEditForm.controls['productName'].valid
          "
          class="text-danger"
        >
          <p>Product Name is required.</p>
        </div>

        <label for="productType">Product Type</label>
        <input
          id="productType"
          type="text"
          class="form-control"
          placeholder="Product Type"
          name="productType"
          [(ngModel)]="productData.productType"
          required
        />
        <div
          *ngIf="
            productEditForm.submitted &&
            !productEditForm.controls['productType'].valid
          "
          class="text-danger"
        >
          <p>Product Type is required.</p>
        </div>
        <label for="price">Price</label>
        <input
          id="price"
          type="number"
          class="form-control"
          placeholder="Price"
          name="price"
          [(ngModel)]="productData.price"
          required
        />
        <div
          *ngIf="
            productEditForm.submitted &&
            !productEditForm.controls['price'].valid
          "
          class="text-danger"
        >
          <p>Price is required.</p>
        </div>
        <label for="description">Product Description</label>
        <div class="input-group">
          <textarea
            class="form-control"
            type="text"
            id="description"
            placeholder="Product Description"
            name="description"
            rows="3"
            [(ngModel)]="productData.description"
          ></textarea>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button
        type="submit"
        class="btn submit-button"
        (click)="productEditForm.valid ? modal.close('Save click') : null"
      >
        Update Product
      </button>
    </div>
  </form>
</ng-template>
