<div class="container mt-4">
    
  
    <div class="text-center mt-5">
      <h1>Welcome to My Pharmacy</h1>
      <p>Your one-stop solution for all your medicinal needs.</p>
      <a class="btn btn-primary" routerLink="/viewproduct">Browse Products</a>
    </div>
  
    <div class="row mt-5">
      <div class="col-md-4">
        <div class="card">
          <img src="https://i.postimg.cc/XJTHm3h9/download-11.jpg" class="card-img-top" alt="Medicine">
          <div class="card-body">
            <h5 class="card-title">Featured Product</h5>
            <p class="card-text">Discover our top-selling medicine.</p>
            <a href="/featuredproducts" class="btn btn-info">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="https://i.postimg.cc/vH7qqJv6/download-12.jpg" class="card-img-top" alt="Offers">
          <div class="card-body">
            <h5 class="card-title">Latest Offers</h5>
            <p class="card-text">Check out our latest discounts and promotions.</p>
            <a href="/offers" class="btn btn-info">View Offers</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="https://i.postimg.cc/CK5cKzpj/download-13.jpg" class="card-img-top" alt="Health Tips">
          <div class="card-body">
            <h5 class="card-title">Health Tips</h5>
            <p class="card-text">Get the best health tips from our experts.</p>
            <a href="/helthtips" class="btn btn-info">Read Tips</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  