<div class="container">
  <h2 class="text-center"> Registration</h2>
  <form [formGroup]="regForm" (ngSubmit)="onSubmit()">
    <div class="mb-3 input-group ">
      <span class="input-group-text"><fa-icon [icon]="faUser"></fa-icon></span>
      <input type="text" id="name" formControlName="name" class="form-control" placeholder="Name" required>
    </div>
    <div class="mb-3 input-group">
      <span class="input-group-text"><fa-icon [icon]="faEnvelope"></fa-icon></span>
      <input type="email" id="email" formControlName="email" class="form-control" placeholder="Email" required>
    </div>
    <div class="mb-3 input-group">
      <span class="input-group-text"><fa-icon [icon]="faLock"></fa-icon></span>
      <input type="password" id="password" formControlName="password" class="form-control" placeholder="Password" required>
    </div>
    <div class="mb-3 input-group">
      <span class="input-group-text"><fa-icon [icon]="faImage"></fa-icon></span>
      <input type="text" id="photo" formControlName="photo" class="form-control" placeholder="Photo URL" required>
    </div>
    <button type="submit" class="btn btn-primary"><fa-icon [icon]="faUser"></fa-icon> Register</button>
  </form>
</div>
