<div class="container">
    <form [formGroup]="studentForm" (ngSubmit)="createStudent()">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input id="name" type="text" class="form-control" formControlName="name">
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input id="email" type="email" class="form-control" formControlName="email">
        </div>
        
        <div class="mb-3">
            <label for="cell" class="form-label">Cell Number</label>
            <input id="cell" type="text" class="form-control" formControlName="cell">
        </div>
        <div class="mb-3">
            <label class="form-label">Gender</label>
            <div>
                <input id="male" type="radio" class="form-check-input" formControlName="gender" value="Male">
                <label for="male" class="form-check-label">Male</label>
            </div>
            <div>
                <input id="female" type="radio" class="form-check-input" formControlName="gender" value="Female">
                <label for="female" class="form-check-label">Female</label>
            </div>
        </div>

        <div class="mb-3">
            <label for="dob" class="form-label">DoB</label>
            <input id="dob" type="date" class="form-control" formControlName="dob">
        </div>
       
        <div class="mb-3" formGroupName="department">
            <div class="invalid-feedback">Please select a Department.</div>
            <label for="generic" class="form-label">Department:</label>
            <select id="generic" formControlName="department" class="form-select" required>
                <option *ngFor="let loc of departments" [ngValue]="loc.name">{{loc.name}}</option>
            </select>
            
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
