<div class="container">

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            
            <th>Customer Name</th>
            <th>Address</th>
            
            <!-- <th>Quantity</th> -->
            <th>Total Price</th>
            <!-- <th>Sales Date</th> -->
            <th>Product Name</th>
            <th>Update</th>
            <th>Delete</th>
            
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let sp of salesproducts |async">
        
            <td>{{sp.id}}</td>
            <td>{{sp.customername}}</td>
            <td>{{sp.address}}</td>
            <!-- <td>{{sp.sale.quantity}}</td> -->
            <td>{{sp.sale.totalprice}}</td>
            <!-- <td>{{sp.sale.salesdate}}</td> -->
            <td>{{sp.sale.pro.name}}</td>
            
            
            <td><button class="btn btn-warning" >Edit</button></td>
            <td><button class="btn btn-danger" >Delete</button></td>
        
        </tr>
        </tbody>
        
        </table>
        


</div>
