<div class="container">
    <h1>Update Supplier</h1>
    <form (ngSubmit)="updateSupplier()">

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Name</label>
            <input type="text" class="form-control"   name="name" [(ngModel)]="supplier.name">
            
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input type="email" class="form-control"   name="email" [(ngModel)]="supplier.email">
            
        </div>
       
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Cell</label>
            <input type="number" class="form-control"   name="cell" [(ngModel)]="supplier.cell">
            
        </div>

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Address</label>
            <input type="text" class="form-control"   name="address" [(ngModel)]="supplier.address">
            
        </div>
    
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>