<div class="row container">
    <div class="text-azur text-center">
        <h2>There are various items of products</h2>
        <h3>You can buy and sell</h3>
    </div>

    <button class="btn-custom btn-green">
        <a href="/viewproduct"><fa-icon [icon]="faEye"></fa-icon> View Products</a>
    </button>
    <button class="btn-custom btn-blue">
        <a href="/createProduct"><fa-icon [icon]="faPlus"></fa-icon> Create Products</a>
    </button>
    <button class="btn-custom btn-purple">
        <a href="/viewsales"><fa-icon [icon]="faShoppingCart"></fa-icon> View Sales</a>
    </button>
    <button class="btn-custom btn-orange">
        <a href="/createSales"><fa-icon [icon]="faChartLine"></fa-icon> Create Sales</a>
    </button>
</div>
