<p>location works!</p>


<div class="container">
<table class="table table-striped">
<thead>
<tr>
    <th>Id</th>
    <th>Name</th>
    <th>City</th>
    <th>State</th>
    <th>Photo</th>
    <th>Unit</th>
    <th>Wifi</th>
    <th>Laundry</th>
    <th>Action</th>
</tr>
</thead>
<tbody>
<tr *ngFor="let location of locations |async">

    <td>{{location.id}}</td>
    <td>{{location.name}}</td>
    <td>{{location.city}}</td>
    <td>{{location.state}}</td>
    <td><img [src]="location.photo" alt="{{location.name}}" style="width: 50px; height: auto;"></td>
    <td>{{location.availableUnits}}</td>
    <td>{{location.wifi}}</td>
    <td>{{location.laundry}}</td>
    <td>
<button class="btn btn-warning" (click)="updateLocation(location.id)">Edit</button>
<button class="btn btn-danger" (click)="deleteLocation(location.id)">Delete</button>

    </td>

</tr>
</tbody>

</table>

</div>