.pos-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f1a2a2;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pos-title {
  color: #007bff;
  margin-bottom: 20px;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
}

.pos-form {
  display: flex;
  flex-direction: column;
}

.pos-input-group {
  position: relative;
  margin-bottom: 15px;
}

.pos-input-icon {
  background-color: #007bff;
  color: white;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
}

.pos-input {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-left: 10px;
  font-size: 16px;
}

.pos-form-group {
  margin-bottom: 20px;
}

.pos-label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

.pos-select {
  border-radius: 5px;
  padding: 8px;
  font-size: 16px;
}

.pos-btn {
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pos-btn fa-icon {
  margin-right: 8px;
}
