<p>location works!</p>

<div class="container">

    <table class="table table-striped">

<tr>
  <th>Id</th>
  <th>Name</th>
  <th>City</th>  
  <th>State</th>  
  <th>Unit</th>  
  <th>Photo</th>  
  <th>Wifi</th>  
  <th>Laundry</th>  
  <th>Action</th>  
</tr>

<tr *ngFor="let location of locations |async">

    <td>{{location.id}}</td>
    <td>{{location.name}}</td>
    <td>{{location.city}}</td>
    <td>{{location.state}}</td>
    <td>{{location.photo}}</td>
    <td>{{location.availableUnits}}</td>
    <td>{{location.wifi}}</td>
    <td>{{location.laundry}}</td>
    <td>
        <button class="btn btn-warning" (click)="updateLocation(location.id)">Edit</button>
        <button class="btn btn-danger" (click)="deleteLocation(location.id)">Delete</button>
    </td>


</tr>


    </table>


</div>
