<div class="container">
    <form [formGroup]="salesForm" (ngSubmit)="createSales()">
        <div class="mb-3">
            <label for="quantity" class="form-label">Quantity</label>
            <input id="quantity" type="text" class="form-control" formControlName="quantity">
        </div>

        <div class="mb-3">
            <label for="unitprice" class="form-label">Unit Price</label>
            <input id="unitprice" type="text" class="form-control" formControlName="unitprice">
        </div>

        <div class="mb-3">
            <label for="totalprice" class="form-label">Total Price</label>
            <input id="unitprice*quantity" type="text" class="form-control" formControlName="totalprice">
        </div>
        
        <div class="mb-3">
            <label for="salesdate" class="form-label">Sales Date</label>
            <input id="salesdate" type="date" class="form-control" formControlName="salesdate">
        </div>
       
        <div class="mb-3" formGroupName="product">
            <div class="invalid-feedback">Please select a product.</div>
            <label for="product" class="form-label">Product:</label>
            <select id="product" formControlName="name" class="form-select" required>
                <option *ngFor="let loc of products" [ngValue]="loc.name">{{loc.name}}</option>
            </select>
            
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>


