<div class="container">
    <table class="table table-striped">
    <thead>
    <tr>
        <th>Id</th>
        
        <th>Quantity</th>
        <th>Unit Price</th>
        <th>Total Price</th>
        <th>Sales date</th>
        <th>Product Name</th>
        <th>Update</th>
        <th>Delete</th>
        
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let st of sales |async">
    
        <td>{{st.id}}</td>
        <td>{{st.quantity}}</td>
        <td>{{st.unitprice}}</td>
        <td>{{st.quantity*st.unitprice}}</td>
        <td>{{st.salesdate}}</td>
        <td>{{st.product.name}}</td>
        
        <td><button class="btn btn-warning" (click)="editSales(st)">Edit</button></td>
        <td><button class="btn btn-danger" (click)="deleteSales(st.id)">Delete</button></td>
    
    </tr>
    </tbody>
    
    </table>
    
    </div>
    


