<div class="widget-container">
    <div class="widget">
        <div class="icon">
            <fa-icon [icon]="faLocation"></fa-icon>
        </div>
        <div class="value">
            <div class="top">32</div>
            <div class="bottom">Location</div>
        </div>
    </div>
    <div class="widget">
        <div class="icon">
        <fa-icon [icon]="faShop"></fa-icon>
        </div>
        <div class="value">
            <div class="top">325</div>
            <div class="bottom">Shop</div>
        </div>
    </div>
    <div class="widget">
        <div class="icon">
            <fa-icon [icon]="faMoneyBill"></fa-icon>
        </div>
        <div class="value">
            <div class="top">845</div>
            <div class="bottom">Bill</div>
        </div>
    </div>
    <div class="widget">
        <div class="icon">
            <fa-icon [icon]="faContactBook"></fa-icon>
        </div>
        <div class="value">
            <div class="top">205</div>
            <div class="bottom">Contact</div>
        </div>
    </div>
</div>
