.container {
    max-width: 1000px;
    margin: 10auto;
    padding: 50px;
    background-color: #f9f9f9;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.table thead {
    background-color: #007bff;
    color: white;
}

.table th,
.table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box; /* Ensure consistent sizing */
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f2f2f2;
}

.table tbody tr {
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.table tbody tr:hover {
    background-color: #f1f1f1;
    /* Ensure no additional layout changes */
}

.table img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50px; /* Maintain consistent image size */
    height: auto;
}

.btn {
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.btn-warning {
    background-color: #4eddf0;
    color: white;
}

.btn-warning:hover {
    background-color: #ec971f;
}

.btn-danger {
    background-color: #d9534f;
    color: white;
}

.btn-danger:hover {
    background-color: #c9302c;
}
@keyframes dance {
    0% { transform: translateX(0); }
    50% { transform: translateX(-5px); }
    100% { transform: translateX(5px); }
}
