<ol class="breadcrumb">
  <li class="breadcrumb-item success" aria-current="page">
    Policy / Add Policy
  </li>
</ol>

<Form>
  <div class="row">
    <div class="col-6">
      <label for="price">Policy Number</label>

      <input
        id="policyNumber"
        type="text"
        class="form-control"
        placeholder="policyNumber"
        name="policyNumber"
        ngModel
        required
      />
      <!-- client -->
      <div class="form-group">
        <label for="inputState">Client</label>
        <select id="inputState" class="form-control">
          <option selected>Select Client</option>
          <option>...</option>
        </select>
      </div>
      <!-- product -->
      <div class="form-group">
        <label for="inputState">Product</label>
        <select id="inputState" class="form-control">
          <option selected>Select Product</option>
          <option>...</option>
        </select>
      </div>
      <!-- beneficiary -->
      <div class="form-group">
        <label for="inputState">Beneficiary</label>
        <select id="inputState" class="form-control">
          <option selected>Select Beneficiary</option>
          <option>...</option>
        </select>
      </div>
    </div>
    <div class="col-6">
      <!-- issue date -->
      <label for="dateOfBirth">Issue Date</label>
      <div class="input-group">
        <div class="d-flex align-items-center">
          <input
            class="form-control col-12"
            placeholder="yyyy-mm-dd"
            name="dp"
            ngbDatepicker
            #d="ngbDatepicker"
          />
          <button
            class="btn calendar-button bi bi-calendar3"
            (click)="d.toggle()"
            type="button"
          ></button>
        </div>
      </div>
      <!-- Coverage start date -->
      <label for="dateOfBirth">Coverage Start Date</label>
      <div class="input-group">
        <div class="d-flex align-items-center">
          <input
            class="form-control col-12"
            placeholder="yyyy-mm-dd"
            name="dp"
            ngbDatepicker
            #d="ngbDatepicker"
          />
          <button
            class="btn calendar-button bi bi-calendar3"
            (click)="d.toggle()"
            type="button"
          ></button>
        </div>
      </div>
      <!-- coverage end date -->
      <label for="dateOfBirth">Coverage End Date</label>
      <div class="input-group">
        <div class="d-flex align-items-center">
          <input
            class="form-control col-12"
            placeholder="yyyy-mm-dd"
            name="dp"
            ngbDatepicker
            #d="ngbDatepicker"
          />
          <button
            class="btn calendar-button bi bi-calendar3"
            (click)="d.toggle()"
            type="button"
          ></button>
        </div>
      </div>
      <!--  -->
    </div>
  </div>
  <div>
    <div style="text-align: center">
      <button type="submit" class="btn col-2 col-sm-6 submit-button">
        Add Policy
      </button>
    </div>
  </div>
</Form>
