<div class="container">
    <form [formGroup]="salesProductForm" (ngSubmit)="createSalesProduct()">
        <div class="mb-3">
            <label for="customername" class="form-label">Customer Name</label>
            <input id="customername" type="text" class="form-control" formControlName="customername">
        </div>

        <div class="mb-3">
            <label for="address" class="form-label">Address</label>
            <input id="address" type="text" class="form-control" formControlName="address">
        </div>
        
        <!-- <div class="mb-3">
            <label for="salesdate" class="form-label">Sales Date</label>
            <input id="salesdate" type="text" class="form-control" formControlName="salesdate">
        </div> -->
       
        <div class="mb-3" formGroupName="sale">
            <div class="invalid-feedback">Please select a product.</div>
            <label for="sale" class="form-label">Total Price</label>
            <select id="sale" formControlName="totalprice" class="form-select" required>
                <option *ngFor="let loc of sales" [ngValue]="loc.totalprice">{{loc.totalprice}}</option>
            </select>
            
        </div>

        <div class="mb-3" formGroupName="pro">
            <div class="invalid-feedback">Please select a product.</div>
            <label for="pro" class="form-label">Name</label>
            <select id="pro" formControlName="name" class="form-select" required>
                <option *ngFor="let loc of products" [ngValue]="loc.name">{{loc.name}}</option>
            </select>
            
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>