<div class="container">
    <form (ngSubmit)="updateProduct()">

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Name</label>
            <input type="text" class="form-control"   name="name" [(ngModel)]="product.name">
            
        </div>

        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Photo</label>
            <input type="text" class="form-control" name="photo" [(ngModel)]="product.photo">
        </div>

        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Unit Price</label>
            <input type="number" class="form-control" name="unitprice" [(ngModel)]="product.unitprice">
        </div>
        
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Stock</label>
            <input type="number" class="form-control" name="stock" [(ngModel)]="product.stock">
        </div>
        
    
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>

